vantan {
    font-size:large;
    font-weight:bold;
    text-align:right;
    line-height: 0svb;
}

body {
    background: bottom/cover;
}

#httt {
    background-position: bottom;
    background-size: contain;
}
ul {
    display:grid;
}

jjj