.container {
    width: 1000px;
    margin: 0 auto;
}

.container img {
    width: 1000px;
}

.menu-box {
    display: flex;
}

.menu-item {
    margin: 10px;
    line-height: 45px;
}

.description {
    display: grid;
    grid-template-columns: 380px 380px;
    gap: 20px;
    width: 800px;
    margin: 0 auto;
}

.description img {
    width: 380px;
}

footer {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

